@import "./normalize.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

:root {
  --header-bg-color: hsl(290, 87%, 20%);
  --header-color: hsl(39, 47%, 94%);
  --form-bg-color: hsl(39, 47%, 94%);
  --content-bg-color: hsl(210, 4%, 71%);
  --footer-bg-color: hsl(260, 25%, 66%);

  --container-children-padding: 5px 15px;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template: min-content min-content 6fr min-content / 1fr;
  grid-template-areas:
    "header"
    "add-form"
    "content"
    "footer";

  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 2fr 2fr / 2fr 1fr;
  grid-template-areas:
    "title total-books"
    "search add-btn";
  align-items: center;

  background-color: var(--header-bg-color);
  color: var(--header-color);
  padding: var(--container-children-padding);
}

.header.hide {
  grid-template: 2fr 0 / 2fr 1fr;
  grid-template-areas:
    "title total-books"
    "search add-btn";
}

.header.hide label,
.header.hide input,
.header.hide button {
  display: none;
}

.header .title {
  grid-area: title;
}

.header .total-books {
  grid-area: total-books;
  justify-self: end;
}

.header .book-search {
  grid-area: search;
}

.header .add-btn {
  grid-area: add-btn;
  width: 100px;
  height: 50px;
  justify-self: end;
}

.add-form {
  grid-area: add-form;
  overflow: hidden;
  background-color: var(--form-bg-color);
  height: 0;
}

.add-form.show {
  display: grid;
  grid-template: min-content repeat(4, 1fr) min-content / 15ch 1fr;
  grid-template-areas:
    "legend close-btn"
    ". ." ". ." ". ." ". custom-checkbox"
    "submit-btn submit-btn";
  gap: 15px;
  height: min-content;
  padding: var(--container-children-padding);
}

.add-form form {
  display: contents;
}

.add-form form legend {
  grid-area: legend;
  font-size: 1.15rem;
  font-weight: bold;
  align-self: end;
}

.add-form .close-btn {
  grid-area: close-btn;
  justify-self: end;
  width: 100px;
  height: 50px;
}

.add-form input[type="tel"] {
  width: 8ch;
}

.add-form .has-read-switch {
  grid-area: custom-checkbox;
}

.add-form input[type="checkbox"] {
  display: none;
  grid-area: custom-checkbox;
}

.add-form .custom-checkbox {
  grid-area: custom-checkbox;
}

.add-form .submit-book-btn {
  grid-area: submit-btn;
}

.content {
  grid-area: content;
  background-color: var(--content-bg-color);
}

.footer {
  grid-area: footer;
  background-color: var(--footer-bg-color);
}
