/*Reset stuff*/
@import "./normalize.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

/*Variables*/
:root {
  --header-bg-color: hsl(290, 87%, 20%);
  --header-color: hsl(39, 47%, 94%);
  --form-bg-color: hsl(39, 47%, 94%);
  --content-bg-color: hsl(210, 4%, 71%);
  --book-bg-color: hsl(39, 47%, 94%);
  --footer-bg-color: hsl(260, 25%, 66%);

  --book-box-shadow: 2px 2px 2px 2px grey;

  --container-children-padding: 5px 15px;

  /*Custom checkbox slider*/
  --switch-transition-time: 0.4s;
  --form-switch-width: 40px; /*Needs to be wider than tall*/
  --form-switch-height: 20px; /*Use even numbers*/
  --form-switch-padding: 6px; /*Keep this an even number*/
  --slider-start-position-left: 3px; /*keep start positions as 1/2 of padding for even look*/
  --slider-start-postition-bottom: 3px; /*Can change but will result in non-centered slider*/
}

/*Checkbox styling*/
input[type="checkbox"] {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--form-switch-width);
  height: var(--form-switch-height);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: var(--switch-transition-time);
  transition: var(--switch-transition-time);
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--form-switch-height) - var(--form-switch-padding));
  aspect-ratio: 1/1;
  left: var(--slider-start-position-left);
  bottom: var(--slider-start-postition-bottom);
  background-color: white;
  -webkit-transition: var(--switch-transition-time);
  transition: var(--switch-transition-time);
  border-radius: 15px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--form-switch-width) / 2));
  -ms-transform: translateX(calc(var(--form-switch-width) / 2));
  transform: translateX(calc(var(--form-switch-width) / 2));
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template: min-content min-content 6fr min-content / 1fr;
  grid-template-areas:
    "header"
    "add-form"
    "content"
    "footer";

  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 2fr 2fr / 2fr 1fr;
  grid-template-areas:
    "title total-books"
    "search add-btn";
  align-items: center;

  background-color: var(--header-bg-color);
  color: var(--header-color);
  padding: var(--container-children-padding);
}

.header.hide {
  grid-template: 2fr 0 / 2fr 1fr;
  grid-template-areas:
    "title total-books"
    "search add-btn";
}

.header.hide label,
.header.hide input,
.header.hide button {
  display: none;
}

.header .title {
  grid-area: title;
}

.header .total-books {
  grid-area: total-books;
  justify-self: end;
}

.header .book-search {
  grid-area: search;
}

.header .add-btn {
  grid-area: add-btn;
  width: 100px;
  height: 50px;
  justify-self: end;
}

.add-form {
  grid-area: add-form;
  overflow: hidden;
  background-color: var(--form-bg-color);
  height: 0;
}

.add-form.show {
  display: grid;
  grid-template: min-content repeat(2, 1fr) 1.5fr min-content / min-content 30% min-content 1fr;
  grid-template-areas:
    "legend legend close-btn close-btn"
    "title-lab title title title"
    "author-lab author author author"
    "pages-lab pages has-read-lab has-read"
    "submit-btn submit-btn submit-btn submit-btn";
  align-items: center;
  gap: 15px;
  height: min-content;
  padding: var(--container-children-padding);
}

.add-form form {
  display: contents;
}

.add-form form legend {
  grid-area: legend;
  font-size: 1.15rem;
  font-weight: bold;
  align-self: end;
}

.add-form .close-btn {
  grid-area: close-btn;
  justify-self: end;
  width: 100px;
  height: 50px;
}

.add-form label.title {
  grid-area: title-lab;
}

.add-form input.title {
  grid-area: title;
}

.add-form label.pages {
  grid-area: pages-lab;
}

.add-form input.pages {
  grid-area: pages;
  width: 8ch;
}

.add-form label.author {
  grid-area: author-lab;
}

.add-form input.author {
  grid-area: author;
}

.add-form label.has-read {
  grid-area: has-read-lab;
}

.add-form .has-read {
  grid-area: has-read;
}

.add-form input[type="checkbox"] {
  grid-area: has-read;
}

.add-form .switch {
  grid-area: has-read;
}

.add-form .submit-book-btn {
  grid-area: submit-btn;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  grid-auto-rows: minmax(min-content, 33%);
  gap: 15px;
  background-color: var(--content-bg-color);
  padding: var(--container-children-padding);
  overflow: scroll;
}

.content .book {
  display: grid;
  grid-template: repeat(4, minmax(min-content, 4vh)) / 1fr 1fr;
  grid-template-areas:
    "title title"
    "author author"
    "pages read-label"
    "remove-btn read-switch";
  align-items: center;
  align-content: center;

  background-color: var(--book-bg-color);
  padding: var(--container-children-padding);
  border-radius: 15px;
  box-shadow: var(--book-box-shadow);
}

.content .book .title {
  grid-area: title;
  border-bottom: 1px solid black;
  align-self: end;
}

.content .book .author {
  grid-area: author;
  font-size: 0.9rem;
  font-style: italic;
}

.content .book .pages {
  grid-area: pages;
  font-size: 0.9rem;
  align-self: end;
}

.content .book label.has-read {
  grid-area: read-label;
  font-size: 0.9rem;
  justify-self: end;
  align-self: end;
}

.content .book .switch {
  grid-area: read-switch;
  justify-self: end;
  align-self: end;
}

.content .book .remove-btn {
  grid-area: remove-btn;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  align-self: end;
  justify-self: start;
}

.footer {
  grid-area: footer;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  align-content: center;
}
